﻿@model Calicot.UI.ViewModel.ProduitViewModel

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Add";
}

<h2>Ajouter produit </h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.SKU" class="control-label">@Model.SKU</label>
                <input asp-for="SKU" class="form-control" />
                <span asp-validation-for="SKU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label">Nom</label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marque" class="control-label"></label>
                <input asp-for="Marque" class="form-control" />
                <span asp-validation-for="Marque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modele" class="control-label"></label>
                <input asp-for="Modele" class="form-control" />
                <span asp-validation-for="Modele" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Couleur" class="control-label"></label>
                <input asp-for="Couleur" class="form-control" />
                <span asp-validation-for="Couleur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Taille" class="control-label"></label>
                @*<input asp-for="Taille" class="form-control" />*@
                <select asp-for="Taille" asp-items="Html.GetEnumSelectList<Tailles>()" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"></select>
                <span asp-validation-for="Taille" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="8" maxlength="1024"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantite" class="control-label"></label>
                <input asp-for="Quantite" class="form-control" />
                <span asp-validation-for="Quantite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prix" class="control-label"></label>
                <input asp-for="Prix" class="form-control" />
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormFile" class="control-label"></label>
                @*<input id="FileUpload_FormFile" type="file" name="FileUpload.FormFile" />*@
            <input asp-for="FormFile" type="file" name="FormFile" />
            </div>
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retourner</a>
</div>

<script>
    $(function() {

    $("form").submit(function(e) {
        e.preventDefault();
        var f = $(this);
        $.post(f.attr("action"), f.serialize(),function(res) {
            if(res.Status==="success")
            {
               alert(res.Message);
               window.location.href = "/";
            }
        });
    });

});
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
