﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
@model Calicot.Domain.Models.Produit


<h2>Ajouter un Produit</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.SKU" class="control-label"></label>
                <input asp-for="@Model.SKU" class="form-control" />
                <span asp-validation-for="@Model.SKU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Nom" class="control-label"></label>
                <input asp-for="@Model.Nom" class="form-control" />
                <span asp-validation-for="@Model.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Marque" class="control-label"></label>
                <input asp-for="@Model.Marque" class="form-control" />
                <span asp-validation-for="@Model.Marque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Modele" class="control-label"></label>
                <input asp-for="@Model.Modele" class="form-control" />
                <span asp-validation-for="@Model.Modele" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Couleur" class="control-label"></label>
                <input asp-for="@Model.Couleur" class="form-control" />
                <span asp-validation-for="@Model.Couleur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Taille" class="control-label"></label>
                <input asp-for="@Model.Taille" class="form-control" />
                <span asp-validation-for="@Model.Taille" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Description" class="control-label"></label>
                <input asp-for="@Model.Description" class="form-control" />
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Quantite" class="control-label"></label>
                <input asp-for="@Model.Quantite" class="form-control" />
                <span asp-validation-for="@Model.Quantite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Prix" class="control-label"></label>
                <input asp-for="@Model.Prix" class="form-control" />
                <span asp-validation-for="@Model.Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Produit.PhotoURL" class="control-label"></label>
                <input asp-for="Produit.PhotoURL" class="form-control" />
                <span asp-validation-for="Produit.PhotoURL" class="text-danger"></span>*@
                <label class="control-label"></label>
                <input id="FileUpload_FormFile" type="file" name="FileUpload.FormFile"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
