﻿@{
    Layout = "_Layout";
}

@model Calicot.Domain.Models.Produit
@{
}

<link href="~/css/Details.css" rel="stylesheet" />

<div style="padding-top:50px">
    <h1><a href="/"> <i class="bi bi-arrow-left-circle-fill" style="color:#6c757d"></i>
        </a></h1>
</div>


<div class="card mb-3" style="max-width: 75%; margin-top:5rem">
    <div class="row g-0">
        <div class="col-md-6">
            <img class="card-img-top" id="myImg" src="@Model.PhotoURL.Replace("productimages","thumbnails")" alt="Produit image">
            <figcaption class="figure-caption text-right">Cliquez sur l'image pour l'agrandir</figcaption>
        </div>
        <div class="col-md-6">
            <h2 style="margin-bottom:20px;">@Model.Nom</h2>

            <h6><small class="text-muted" style="padding-left:15px">SKU# @Model.SKU </small></h6>
            <div class="card-body" style="padding-right:20px;">
                <p class="card-text text-justify">@Model.Description</p>
            </div>
            <div>
                <h3 style="padding-right:20px;"><p class="card-text text-right "> $@Model.Prix CAD</p></h3>
            </div>
            @if (Model.Quantite > 0)
            {
                <a href="#" class="btn btinAjt fw-bold">Acheter</a>
            }
            else
            {
                <a class="btn btn-secondary btinAjtDis fw-bold disabled">Indisponible</a>
            }
        </div>
    </div>
</div>

<div id="imgModal" class="modal" tabindex="-1">
    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01" src="@Model.PhotoURL">

</div>

<script>
    // Get the modal
    var modal = document.getElementById("imgModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  //modalImg.src = this.src;
  //captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
</script>