﻿@{
    Layout = "_Layout";
}

@model IEnumerable<Calicot.Domain.Models.Produit>
@{
}

<link href="~/css/produitsIndex.css" rel="stylesheet" />
<div class="card-group border-secondary row row-cols-1 row-cols-md-4 g-6" style="display:flex;">
    @{
        int counter = 1;
#if DEBUG
        counter = 4;
#endif
    }
    

    @for (int i = 0; i < counter; i++)
    {



        @foreach (var item in Model)
        {
            @*<div class="card-group border-secondary row row-cols-1 row-cols-md-4 g-6" style="display:flex;">*@
                <div class="col" style="padding-top:30px;">
                    <div class="card" style="width: 25rem;">
                        <img src="@item.PhotoURL.Replace("productimages","thumbnails")" class="card-img-top previeimg" alt="..." style="height:372px; width:248px;">
                        <div class="card-body">
                            <h3 class="card-title text-truncate">@item.Nom</h3>
                            <p class="card-text text-truncate">@item.Description</p>
                            <a href="/Produits/Details/@item.ProduitID" class="btn fw-bold btnDetails">Details</a>

                        </div>
                        <div class="card-footer">

                            @if (item.Quantite > 0)
                            {
                                <small class="text-success fw-bold">Disponible</small>
                            }
                            else
                            {
                                <small class="alert-danger fw-bold">Indisponible</small>
                            }

                        </div>
                    </div>
                </div>
                @*<div class="col">
                        <div class="card" style="width: 25rem;">
                            <img src="@item.PhotoURL" class="card-img-top previeimg" alt="...">
                            <div class="card-body">
                                <h3 class="card-title">@item.Nom</h3>
                                <p class="card-text">@item.Description</p>
                                <a asp-page="./Details" asp-route-id="@item.ProduitID" class="btn btn-primary">Acheter</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 25rem;">
                            <img src="@item.PhotoURL" class="card-img-top previeimg" alt="...">
                            <div class="card-body">
                                <h3 class="card-title">@item.Nom</h3>
                                <p class="card-text">@item.Description</p>
                                <a asp-controller="Produits" asp-action="Details" asp-route-id="@item.ProduitID" class="btn btn-primary">Acheter</a>
                            </div>
                        </div>
                    </div>*@
            @*</div>*@
        }

    }
</div>